.dropdown-parent {
  display: flex;
  align-items: center;
}

.dropdown {
  margin: 0px 0px 0px 0px;
  z-index: 1;
  width: 90px;
  position: relative;
  user-select: none;
}

.dropdown .dropdown-btn {
  cursor: pointer;
  background: var(--grey-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  font-size: 24px;
}

.dropdown-content {
  position: absolute;
  left: 0;
  width: 100%;
}

.dropdown-icon-container {
  display: flex;
  align-items: center;
}

.dropdown-content .item {
  background-color: var(--grey-3);
  font-size: 24px;
  padding: 10px;
  text-align: start;
  cursor: pointer;
  transition: background-color 100ms linear;
}

.dropdown-content .item:hover {
  background: rgb(196, 196, 196);
}

.button {
  z-index: -1;
  display: block;
  width: 300px;
  margin: 0 auto;
}
