.welcome-container{
  /* background-color: rgb(69, 69, 69); */
  display: flex;
  flex-wrap: wrap;
  /* margin: 0 700px; */
  user-select: none;
  margin-top: 40px;
}

.welcome-avatar{
  background-color: #EAC696;
  width: 200px;
  height: 200px;
  border-radius: 100%;
}

.welcome-data{
  /* background-color: rgb(42, 165, 126); */
  display: flex;
  flex-direction: column;
  flex-grow: 1; 
  margin-left: 20px;
  gap: 7px;
}

.welcome-name {
  /* background-color: rgb(42, 165, 126); */
  display: flex;
  flex-direction: row;
}

.welcome-name p {
  margin: 0;
  font-size: 40px;
  font-weight: 600;
}

.welcome-subtitle {
  text-align: start;
  margin: 0;
  font-size: 25px;
  font-weight: 500;
  margin-bottom: 5px;
}

.welcome-bio {
  text-align: start;
  margin: 0;
  font-size: 18px;
  font-weight: 500;
  max-width: 500px;
}

.welcome-column {
  max-width: calc(50%);
  margin: 5px; 
  box-sizing: border-box; 
  /* background-color: chocolate; */
  display: flex;
  justify-content: center;
}

.welcome-row {
  flex-basis: 100%; 
  display: flex;
  justify-content: center;
  /* background-color: mediumpurple; */
}

.welcome-avatar img {
  width: 100%;
  height: 100%; 
  object-fit: cover; 
  border-radius: 100%; 
}

@media (max-width: 1200px) {
  .welcome-container{
    margin: 0 75px;
  }
  .welcome-avatar{
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 750px) {
  .welcome-container{
    margin: 0 30px;
  }
  .welcome-column {
    flex-basis: 100%; 
    margin: 10px 0; 
  }
  .welcome-name {
    justify-content: center;
  }
  .welcome-name p {
    font-size: 30px;
  }
  .welcome-subtitle {
    text-align: center;
    font-size: 20px;
  }
  .welcome-column:first-child {
    flex-basis: 100%;
    max-width: 100%; 
  }
  .welcome-bio {
    font-size: 16px;
  }
  .welcome-showcase {
    width: 150px;
    height: 150px;
  }
}


@media (max-width: 380px) {
  .welcome-container{
    margin: 0 15px; 
  }
  .welcome-avatar{
    width: 75px;
    height: 75px;
  }
  
  .welcome-name p {
    font-size: 25px;
  }
  .welcome-subtitle {
    font-size: 17px;
  }
  .welcome-bio {
    font-size: 14px;
    /* max-width: 300px; */
  }
  .welcome-showcase {
    width: 120px;
    height: 120px;
  }
}


