/* .content-container { */
  /* background-color: rgb(19, 130, 32); */
  /* width: 100%;
  margin-left: 10%;
  margin-right: 10%;
} */

.banner {
  /* background-color: rgb(255, 255, 255); */
  height: 300px;
  position: relative;
  
}

.banner-container{
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  
  /* max-width: var(--max-w); */
  /* margin: 0 auto; */
  /* background-color: rgba(255, 255, 255, 0.5); */
}

.banner-data{
  position: relative;
  max-width: var(--max-w);
  margin: 30px auto;
}

main {

}

.page-sections {

}

/* .banner-data .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 215px 215px;
  grid-gap: 10px;
  grid-template-areas:
    "one one three four"
    "one one two two";
} */

@media (max-width: 380px) {

}

@media (max-width: 750px) {
  
  
}

@media (max-width: 1250px) {
  .page-sections {
    margin: 0px 20px 10px 20px;
  }
}