.content, .recipes {
  max-width: var(--max-w);
  margin: 0 auto;
  padding: 20px 10px 35px;
}

.content h1{
  font-size: 35px;
  margin-bottom: 25px;
  text-align: start;
  user-select: none;
}

.content .cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 215px 215px;
  grid-gap: 10px;
  grid-template-areas:
    "one one three four"
    "one one two two";
}

@media (max-width: 380px) {
  .content h1 {
    font-size: 26px;
  }
}


@media (max-width: 750px) {

}

@media (max-width: 1200px) {
 
}
