.header {
  background: #f8f8f8;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.header .wrapper {
  max-width: var(--max-w);
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr minmax(max-content, 1fr) 1fr;
  align-items: center;
  height: 65px;
  padding: 0 10px;
}

.header .menu-icon {
  background: var(--grey-3);
  /* height: 20px; */
  width: 25px;
  position: relative;
}

.header .menu-icon::before {
  content: '';
  background: var(--grey-3);
  /* height: 20px; */
  width: 25px;
  /* position: absolute; */
  /* top: 10px; */
}

.header .menu-icon::after {
  content: '';
  background: var(--grey-3);
  width: 25px;
  /* position: absolute; */
  /* top: 20px; */
}

h1 {
  /* transform: translateY(-10px); */
  font-weight: 500;
  font-size: 24px;
}

.site-header h1 {
  justify-self: center;
}

.site-header .link {
  justify-self: end;
}


.link {
  justify-self: end;
}

.weather-container {
  display: flex;
  justify-self: end;
}