html{
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  color: var(--grey-3);
  height: 100vh;
  overflow-x: hidden;
  perspective: 1px;
  margin: 0;
}

:root {
  --max-w: 1200px;
}

#gradient-canvas {
  width: 100%;
  /* height: auto; */
  --gradient-color-1: #900273;
  --gradient-color-2: #024fcf;
  --gradient-color-3: #3c1351;
  --gradient-color-4: #0a3070;
  /* --gradient-color-2: #0e2455; */
  border-radius: 20px;
}
