html{
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  color: var(--grey-3);
  height: 100vh;
  overflow-x: hidden;
  perspective: 1px;
  margin: 0;
}

:root {
  --max-w: 1200px;
}