@tailwind base;
@tailwind components;
@tailwind utilities;

html{
  overflow: hidden;
  height: 100vh;
}

body {
  font-family: Montserrat, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #f8f8f8;
  color: var(--grey-3);
  height: 100vh;
  overflow-x: hidden;
  perspective: 1px;
  margin: 0;
}

:root {
  --max-w: 1200px;
}

@keyframes blink {
  0%, 100% { opacity: 1; }
  50% { opacity: 0; }
}

::-webkit-scrollbar { width: 6px; }
::-webkit-scrollbar-track { background: #111; }
::-webkit-scrollbar-thumb { background: #7c6af7; }

#gradient-canvas {
  width: 100%;
  /* height: auto; */
  --gradient-color-1: #900273;
  --gradient-color-2: #024fcf;
  --gradient-color-3: #3c1351;
  --gradient-color-4: #0a3070;
  /* --gradient-color-2: #0e2455; */
  border-radius: 20px;
}
